<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "Todo",tasks_path, class: 'navbar-brand' %>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><%= link_to "Create", new_task_path %></li>
			<li><%= link_to "Tasks", tasks_path %></li>
		</ul>
	</div>
</nav>
<div class="container">
	<%= yield %>
</div>

</body>
</html>
